body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Harmony";
  src: local("Harmony"),
    url(./fonts/harmony/HARMONY\ Personal\ use.otf) format("opentype");
}

@font-face {
  font-family: "Resist Sans Display Medium";
  src: local("Resist Sans Display Medium"),
    url(./fonts/yours_resist_sanss/Groteskly\ Yours\ -\ Resist\ Sans\ Display\ Medium\ Oblique.otf)
      format("opentype");
}

@font-face {
  font-family: "Resist Sans Text Light";
  src: local("Resist Sans Text Light"),
    url(./fonts/yours_resist_sanss/Groteskly\ Yours\ -\ Resist\ Sans\ Text\ Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Black Signature";
  src: local("Black Signature"),
    url(./fonts/black_signature/BlackSignature_PERSONAL_USE_ONLY.otf)
      format("opentype");
}

@font-face {
  font-family: "Nostalgia";
  src: local("Nostalgia"),
    url(./fonts/nostalgia/Nostalgia.ttf)
      format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
